/*Barra de XP*/
.experience .xp .bar .progress {
    background: rgba(206,25,55,0.8);
}
#footer-user .info .bar .progress {
    background: rgba(206,25,55,0.8);
/*Icone de XP*/
.icon {
    background-image: url('http://i.imgur.com/PeXTkSh.png') !important;
}
/*Chat bg*/
#chat-input {
    background: rgba(111,101,101,0.1) !important;
}

/*Caixas de dialogo(borda)*/
.focused {
   -webkit-box-shadow: inset 0 0 0 1px rgba(206,25,55,0.8) !important;

/*BG Dashboard*/
#dashboard.app-left.communities {
    background: rgba(0,0,0,0.5) !important;
}
/*Menu dashboard*/
.tab-menu button.selected {
    background: rgba(206,25,55,0.8) !important;
}
.tab-menu button {
    background: rgba(0,0,0,0.5) !important;
}
/*Lista das salas*/
.communities .grid .cell .bar {
    background: rgba(0,0,0,0.5) !important;
}
.communities .grid .cell {
    background: rgba(0,0,0,0.5) !important;
}
.communities .grid .cell:hover>.meta {
    background: rgba(40,40,40,0.7) !important;
}
.communities .grid .cell .favorite {;
    background: rgba(206,25,55,0.7) !important;
}
