<head>
<style type="text/css">
<!--
.botao  {
position:absolute;
top:20px;
left:50px;
margin:0px;
padding:0px;
}

.botao a, .botao a:visited {  
font: bold 12px/24px arial, helvetica, sans-aerif;	
padding:0px;
text-decoration: none;
text-align:center;	
color:#fff;
background: #666 url('botao_link.gif') no-repeat 
center center;	
width:120px;  
height:24px;	
display:block;	
}

.botao a:hover { 
background: #666 url('botao_hover.gif') no-repeat 
center center;
color:#999;
}

</style>
</head>
<body>
<p class="botao">
<a href="#" title="Meu Link">Botão CSS</a>
</p>
