<style id="rcs-toggled-sidebar">
.app-right {right: 0px;} #playback {left: 436px !important; } #avatars-container {left: 275.5px !important; } #vote {left: initial !important; right: 116.5px !important; }
('<div id= #rs-toggle-sidebar 
    position: absolute;
    left: -80px;
    width: 20px;
    height: 200px;
    cursor: pointer;
    background: #0a0a0a url(https://cdn.radiant.dj/rcs/icons/plugdj/xarrowright.png.pagespeed.ic.oKPnyBoyne.png);
    background-repeat: no-repeat;
    background-position: center center;
  </div>');
</style>")
